img {
    max-width: 100%;
    height: auto;
}
body {
    font-size: 16px; /* Set a base font size */
}

h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem; /* Adjust based on your design */
}

h2 {
    font-size: 2rem; /* Adjust based on your design */
}

h3 {
    font-size: 1.7rem; /* Adjust based on your design */
}

p, ul {
    font-size: 1.5rem; /* Adjust based on your design */
}
header {
    position: relative;
    width: 100%;
}

.search-form {
    position: absolute;
    top: 10%; /* Adjust based on your design */
    left: 50%;
    transform: translateX(-50%);
}

.sections-container {
    width: 90%; /* Adjust based on your design */
    margin: 0 auto;
}

.about, .trending-news, .reviews, .clients, .footer {
    padding: 2% 0; /* Adjust based on your design */
}
.navbar {
    display: none;
    /* Your existing styles for the navbar */
}

@media only screen and (max-width: 768px) {
    .navbar {
        display: block;
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Adjust spacing based on your design */
    }

    /* Add styles for the responsive navigation */
}
